﻿@model EstagiosDEIS.Models.Candidatura

@{
    ViewBag.Title = "AprovarCandidatura";
}

<h2>AprovarCandidatura</h2>
<div align="right" class="jumbotron" style="background: #0094ff">
    <img align="top" src="~/Content/imagens/images.png" />

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Candidatura</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.candidaturaId)
        @Html.HiddenFor(model => model.AlunaId)
        @Html.HiddenFor(model => model.PropostaId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aprovar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para a lista de candidaturas", "ListaCandidaturas")
</div>
