﻿@model EstagiosDEIS.Models.Candidatura

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Candidatura</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Candidatar" class="btn btn-default" />
            </div>         
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
