﻿@model EstagiosDEIS.Models.Candidatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluna.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposta.objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposta.objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.candidaturaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
