﻿@model IEnumerable<EstagiosDEIS.Models.Candidatura>

@{
    ViewBag.Title = "Lista de Candidaturas";
}

<h2>Lista de Candidaturas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposta.propostaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluna.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposta.propostaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.candidaturaId }) |
            @Html.ActionLink("Details", "Details", new { id = item.candidaturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.candidaturaId })|
          
        </td>
    </tr>
}

</table>
