﻿@model IEnumerable<EstagiosDEIS.Models.Candidatura>

@{
    ViewBag.Title = "Lista de Candidaturas";
}

<h2>Lista de Candidaturas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposta.objetivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluna.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposta.objetivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
          
            @Html.ActionLink("Associar a estágio", "Create", "Estagios", new { id = item.candidaturaId }, null)
        </td>
    </tr>
}

</table>
