﻿@model EstagiosDEIS.Models.Candidatura

@{
    ViewBag.Title = "Recusar Candidatura";
}

<h2>Recusar Candidatura</h2>


<div>
    @Html.HiddenFor(model => model.candidaturaId)
    @Html.HiddenFor(model => model.AlunaId)
    @Html.HiddenFor(model => model.PropostaId)
    @Html.HiddenFor(model => model.estado)

    <h4>Candidatura</h4>
    <hr />
  

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Recusar Candidatura" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista de candidaturas", "ListaCandidaturas")
        </div>
    }
</div>
