﻿@model IEnumerable<EstagiosDEIS.Models.Aluna>

@{
    ViewBag.Title = "Aluno";
}

<h2>Aluno</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ramo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplinas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.alunoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.alunoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.alunoId })
        </td>
    </tr>
}

</table>
