﻿@model EstagiosDEIS.Models.Docente

@{
    ViewBag.Title = "AdicionarComissao";
}

<h2>AdicionarComissao</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Docente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
