﻿@model IEnumerable<EstagiosDEIS.Models.Docente>

@{
    ViewBag.Title = "Docentes";
}

<h2>Docentes</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.docenteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.docenteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.docenteId })
        </td>
    </tr>
}

</table>
