﻿@model IEnumerable<EstagiosDEIS.Models.Docente>

@{
    ViewBag.Title = "IndexComissao";
}

<h2>IndexComissao</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.docenteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.docenteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.ActionLink("Adicionar A Comissao", "AdicionarComissao","Account", new { id = item.docenteId },null) |
        </td>
    </tr>
}

</table>
