﻿@model EstagiosDEIS.Models.Defesa

@{
    ViewBag.Title = "Definir Data da Defesa";
}

<h2>DefinirDataDefesa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Defesa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.defesaId)
    @Html.HiddenFor(model => model.avaliacao_Aluno)
    @Html.HiddenFor(model => model.EstagioId)
   

   

    <div class="form-group">
        @Html.LabelFor(model => model.Data_Defesa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_Defesa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Data_Defesa, "", new { @class = "text-danger" })
        </div>
    </div>

   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Definir Data" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
