﻿@model EstagiosDEIS.Models.Defesa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Defesa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estagio.estagioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estagio.estagioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Defesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Defesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avaliacao_Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avaliacao_Aluno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.defesaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
