﻿@model IEnumerable<EstagiosDEIS.Models.Defesa>

@{
    ViewBag.Title = "ListaDefesas";
}

<h2>ListaDefesas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estagio.estagioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Defesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao_Aluno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estagio.estagioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Defesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avaliacao_Aluno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.defesaId }) |
            @Html.ActionLink("Details", "Details", new { id = item.defesaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.defesaId })|
            @Html.ActionLink("Definir Data da Defesa", "DefinirDataDefesa", new { id = item.defesaId })
        </td>
    </tr>
}

</table>
