﻿@model IEnumerable<EstagiosDEIS.Models.Empresa>

@{
    ViewBag.Title = "Empresas";
}

<h2>Empresas</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empresaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.empresaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empresaId })
        </td>
    </tr>
}

</table>
