﻿


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EstagiosDEIS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EstágiosDEIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>



                    @if (Request.IsAuthenticated)
                    {


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Mensagens
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Enviadas", "Enviadas", "Mensagens")</li>
                                <li>@Html.ActionLink("Recebidas", "Recebidas", "Mensagens")</li>
                            </ul>

                        </li>
                    }

                    @if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                    {


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Comissão
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Adicionar Docente à Comissão", "IndexComissao", "Docentes")</li>

                            </ul>

                        </li>
                    }



                    @if (Request.IsAuthenticated && (User.IsInRole("Docente") || User.IsInRole("Comissao") || User.IsInRole("Admin")))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Propostas de Estágios
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Submeter Proposta", "CreatePropostaDocente", "Propostas")</li>
                                <li>@Html.ActionLink("Lista de Propostas", "Index", "Propostas")</li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Estágios
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Estágios a Orientar", "Index", "Estagios")</li>
                                <li>@Html.ActionLink("Avaliar Aluno", "Index", "Estagios")</li>

                            </ul>

                        </li>

                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Comissao") || User.IsInRole("Admin")))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Alunos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aprovar/Recusar Candidaturas", "ListaCandidaturas", "Candidaturas")</li>
                                <li>@Html.ActionLink("Lista de Propostas", "IndexComissao", "Propostas")</li>
                                <li>@Html.ActionLink("Atribuir Estagio", "ListaCandidaturasEstagios", "Candidaturas")</li>
                            <li>@Html.ActionLink("Atribuir defesa a estagio","Index","Estagios")</li>
                            
                            </ul>

                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Estatísticas
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Empresas mais procuradas", "ListaEmpresas", "Propostas")</li>
                                <li>@Html.ActionLink("Total de Estágios Concluídos", "TotalEstagios", "Estagios")</li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Defesas
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Definir Datas das Defesas", "ListaDefesas", "Defesas")</li>

                            </ul>

                        </li>

                    }

                    @if (Request.IsAuthenticated && (User.IsInRole("Aluno")) || User.IsInRole("Admin"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Candidaturas
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Candidar a uma proposta", "IndexAlunos", "Propostas")</li>
                                <li>@Html.ActionLink("Lista das Candidaturas", "Index", "Candidaturas")</li>

                            </ul>

                        </li>

                    }


                    @if (Request.IsAuthenticated && (User.IsInRole("Empresa")) || User.IsInRole("Admin"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Propostas
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Submeter Proposta", "CreatePropostaEmpresa", "Propostas")</li>
                                <li>@Html.ActionLink("Lista de Propostas", "Index", "Propostas")</li>

                            </ul>

                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Alunos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Avaliar Aluno", "Index", "Estagios")</li>

                               

                            </ul>

                        </li>


                    }

                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EstagiosDEIS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
