﻿@model EstagiosDEIS.Models.Proposta

@{
    ViewBag.Title = "AprovarProposta";
}

<h2>AprovarProposta</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Proposta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CandidaturasAprovadas)
    @Html.HiddenFor(model => model.condicoes_acesso)
    @Html.HiddenFor(model => model.propostaId)
    @Html.HiddenFor(model => model.Data)
    @Html.HiddenFor(model => model.DocenteId)
    @Html.HiddenFor(model => model.DocenteId2)
    @Html.HiddenFor(model => model.DocenteId3)
    @Html.HiddenFor(model => model.EmpresaId)
    @Html.HiddenFor(model => model.local)
    @Html.HiddenFor(model => model.NumeroCandidaturas)
    @Html.HiddenFor(model => model.objetivos)
    @Html.HiddenFor(model => model.Ramo)
    @Html.HiddenFor(model => model.Regiao)

    <div align="right" class="jumbotron" style="background: #0094ff">
        <img align="top" src="~/Content/imagens/images.png" />

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aprovar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
