﻿@model EstagiosDEIS.Models.Proposta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Docente1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente1.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente2.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente2.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente3.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente3.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ramo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicoes_acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicoes_acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCandidaturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCandidaturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidaturasAprovadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidaturasAprovadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
