﻿@model EstagiosDEIS.Models.Proposta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Docente1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente1.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente2.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente2.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente3.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente3.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ramo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicoes_acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicoes_acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCandidaturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCandidaturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidaturasAprovadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidaturasAprovadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.propostaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
