﻿@model IEnumerable<EstagiosDEIS.Models.Proposta>

@{
    ViewBag.Title = "Lista de Propostas";
}

<h2>Lista de Propostas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Docente1.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente2.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente3.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.condicoes_acesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCandidaturas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidaturasAprovadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Justificacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Docente1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente2.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente3.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ramo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objetivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.condicoes_acesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCandidaturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidaturasAprovadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Justificacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.propostaId }) |
            @Html.ActionLink("Details", "Details", new { id = item.propostaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.propostaId })|
            @Html.ActionLink("Aprovar", "AprovarProposta", new { id = item.propostaId })|
            @Html.ActionLink("Recusar", "RecusarProposta", new { id = item.propostaId })|
        </td>
    </tr>
}

</table>
