﻿@model IEnumerable<EstagiosDEIS.Models.Proposta>

@{
    ViewBag.Title = "ListaProjetosRamoR";
}

<h2 style="font-family:'Bookman Old Style';   font-size:50px; color:#22c461"><b>Lista de Projetos do Ramo de Redes</b></h2>

<div align="center" class="jumbotron" style="background: #ffffff">
    <img align="middle" src="~/Content/imagens/redes.png" />

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.condicoes_acesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objetivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condicoes_acesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>


        </tr>
    }

</table>
@Html.ActionLink("Voltar para página inicial", "Index", "Home")