﻿@model IEnumerable<EstagiosDEIS.Models.Empresa>

@{
    ViewBag.Title = "ListaEmpresas";
}

<h2>ListaEmpresas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>

        </tr>
    }

</table>
@Html.ActionLink("Voltar para página inicial", "Index", "Home")