﻿@model EstagiosDEIS.Models.Estagio

@{
    ViewBag.Title = "AvaliarAluno";
}

<h2>AvaliarAluno</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Estagio</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.AlunaId)
    @Html.HiddenFor(model => model.avaliacao_Empresa)
    @Html.HiddenFor(model => model.dataFim)
    @Html.HiddenFor(model => model.dataInicio)
    @Html.HiddenFor(model => model.DocenteId)
    @Html.HiddenFor(model => model.EmpresaId)
    @Html.HiddenFor(model => model.estagioId)
    @Html.HiddenFor(model => model.PropostaId)
    
    <div class="form-group">
        @Html.LabelFor(model => model.avaliacao_Aluno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.avaliacao_Aluno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.avaliacao_Aluno, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Avaliar o Aluno" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Avaliar Aluno", "Index")
</div>
