﻿@model EstagiosDEIS.Models.Estagio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estagio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluna.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposta.objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposta.objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avaliacao_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avaliacao_Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.estagioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
