﻿@model IEnumerable<EstagiosDEIS.Models.Estagio>

@{
    ViewBag.Title = "Estágios";
}


<h2>Lista de Estágios</h2>
<div align="right" class="jumbotron" style="background: #ffd800">
    <img align="top" src="~/Content/imagens/estagio.png" />

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposta.propostaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao_Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao_Aluno)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluna.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposta.propostaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avaliacao_Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avaliacao_Aluno)
        </td>
        <td>
            @Html.ActionLink("Avaliar Aluno", "AvaliarAluno", new { id = item.estagioId })|
            @Html.ActionLink("Edit", "Edit", new { id = item.estagioId }) |
            @Html.ActionLink("Details", "Details", new { id = item.estagioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.estagioId })|
            @Html.ActionLink("Atribuir Defesa", "Create", "Defesas", new { id = item.estagioId }, null)|

        </td>
    </tr>
    }

</table>
