﻿@model IEnumerable<EstagiosDEIS.Models.Estagio>

@{
    ViewBag.Title = "TotalEstagios";
}

<h2>TotalEstagios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposta.objetivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao_Empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluna.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposta.objetivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avaliacao_Empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.estagioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.estagioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.estagioId })
        </td>
    </tr>
}

</table>
