﻿@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title:</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047.7364911390896!2d-8.413364985144174!3d40.192677379391746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd22f991f01a62a5%3A0x81dc545c534af031!2sIsec!5e0!3m2!1spt-PT!2spt!4v1546441422205"  align="right"  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h3>Para mais questões contactar a página por email</h3>
<address>
    <strong>Estagios@DEIS:</strong>   <a href="mailto:EstagiosDEIS@isec.com">EstagiosDEIS@isec.com</a><br />

</address>