﻿@model IEnumerable<EstagiosDEIS.Models.Proposta>

@{
                /**/

                ViewBag.Title = "Estagios@DEIS";
}
<div align="center" class="jumbotron" style="background: #285765">
    <img align="top" src="~/Content/imagens/logosite.jpg" />

</div>





<p></p>
@Html.AntiForgeryToken()

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div align="center">
    <h2 style="font-family:'Segoe Script';   font-size:30px; color:#ef8080"><b>Ver propostas por ramo</b></h2>
    <p>

        @Html.ActionLink("|Desenvolvimento de Aplicacoes", "ListaProjetosRamoDA", "Propostas")|

        @Html.ActionLink("|Redes", "ListaProjetosRamoR", "Propostas")|

        @Html.ActionLink("|Sistemas de Informação", "ListaProjetosRamoSI", "Propostas")|
    </p>
</div>



<div align="center">
    <h2 style="font-family:'Segoe Script';   font-size:30px; color:#35946b"><b>Ver propostas por região</b></h2>
    <p></p>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>

        @Html.ActionLink("Norte", "ListaProjetosNorte", "Propostas")|

        @Html.ActionLink("Centro", "ListaProjetosCentro", "Propostas")|

        @Html.ActionLink("Sul", "ListaProjetosSul", "Propostas")
    </p>

</div>



    }



