﻿@model EstagiosDEIS.Models.Mensagens

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mensagens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluna.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluna.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remetente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remetente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mensagemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
