﻿@model IEnumerable<EstagiosDEIS.Models.Mensagens>

@{
    ViewBag.Title = "Enviadas";
}

<h2>Enviadas</h2>
<div align="right" class="jumbotron" style="background: #ffffff">
    <img align="top" src="~/Content/imagens/enviadas.jpg" />

</div>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Remetente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Remetente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>

        </tr>
    }

</table>
