﻿@model IEnumerable<EstagiosDEIS.Models.Mensagens>

@{
    ViewBag.Title = "Recebidas";
}

<h2>Recebidas</h2>
<div align="right" class="jumbotron" style="background: #ffffff">
    <img align="top" src="~/Content/imagens/recebidas.jpg" />

</div>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Remetente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Remetente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>

            @if (Request.IsAuthenticated && (User.IsInRole("Docente") || (User.IsInRole("Empresa")) || (User.IsInRole("Comissao"))))
            {
                <td>
                    @Html.ActionLink("Responder ao Aluno", "ResponderaoAluno", new { id = item.AlunaId })
                </td>
            }
        </tr>
    }

</table>
